.sobre {
  text-align: center;
  padding: 6rem;
}

.sobre__titulo {
  color: var(--vermelho);
  font-weight: 600;
  margin-bottom: 2rem;
}

.sobre__subtitulo {
  color: var(--cinza-escuro);
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 2rem;
}

.sobre__descricao {
  color: var(--cinza-claro);
  font-size: 20px;
  padding: 0 14rem;
}
