.sobre {
  text-align: center;
  padding: 6rem;
}

.sobre__titulo {
  color: var(--vermelho);
  font-weight: 600;
  margin-bottom: 2rem;
}

.sobre__subtitulo {
  color: var(--cinza-escuro);
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 2rem;
}

.sobre__descricao {
  color: var(--cinza-claro);
  font-size: 20px;
  padding: 0 14rem;
  margin-bottom: 8rem;
}

.sobre__lista {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sobre__lista-item {
  text-align: start;
}

.lista__item-espaco {
  margin-right: 3rem;
}

.sobre__lista-numero {
  color: var(--vermelho);
  font-weight: 600;
  font-size: 60px;
}

.sobre__lista-titulo {
  color: var(--cinza-escuro);
  font-weight: 500;
  font-size: 18px;
  margin: 1rem 0 .8rem 0;
}

.sobre__lista-descricao {
  color: var(--cinza-claro);
  line-height: 24px;
}
