@import url(../css/header.css);
@import url(../css/sobrenos.css);

:root {
  --fonte: 'Inter', 'sans-serif';
  --cinza-escuro: #101828;
  --cinza-medio: #3A404E;
  --cinza-claro: #667085;
  --branco: #FFFFFF;
  --vermelho: #8E2424;
}

body {
  background: var(--branco);
  font-family: var(--fonte);
}